<% content_for(:title) do %>
  Login
<% end %>

<div class="login">
  <div class="container">

    <%= bootstrap_form_for(:session, url: login_path) do |f| %>
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 session-form">
          <div class="row">
            <div class="col-md-12">
              <%= f.email_field :email, label: "Correo electronico", :placeholder => "example@alumno.um.edu.ar" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.password_field :password, label: "Contraseña", placeholder: "Contraseña" %>
            </div>
            <div class="col-md-12">
              <%= f.check_box nil, label: "Recordarme", value: nil, name: nil %>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col-md-12" style="text-align: center">
              <%= f.submit "Ingresar", class: "btn btn-success btn-block" %>
              <hr>
              <div class="col-md-12" style="text-align: center">
                Si venis por primera vez, <%= link_to "Registrate", signup_path %>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4"></div>
    <% end %>

    </div>
  </div>
</div>