<div class="signup">
  <div class="container">
    <%= bootstrap_form_for(@user) do |f| %>

      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, required: true %>

          <%= f.text_field :email, required: true %>

        </div>
        <div class="col-md-6">
          <%= f.password_field :password, required: true %>

          <%= f.password_field :password_confirmation, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2" style="text-align: right">
          <%= f.submit "Sign up", class: "btn btn-success"%>
        </div>
      </div>

    <% end %>
  </div>
</div>