<% content_for(:title) do %>
  Sign up
<% end %>

<div class="signup">
  <div class="container">
    <%= bootstrap_form_for(@user) do |f| %>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 session-form">
          <div class="row">
            <div class="col-md-12">
              <%= f.text_field :name, label: 'Nombre', required: true, placeholder: 'Nombre' %>

              <%= f.text_field :email, label: 'Correo Electronico', required: true, placeholder: "example@alumno.um.edu.ar" %>

              <%= f.password_field :password, label: 'Contrase単a', required: true, placeholder: 'Contrase単a' %>

              <%= f.password_field :password_confirmation, label: 'Confirmar contrase単a', required: true, placeholder: 'Confirmar contrase単a' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px">
              <%= f.submit "Crear cuenta", class: "btn btn-success btn-block" %>
            </div>

          </div>
        </div>
        <div class="col-md-4"></div>
      </div>


    <% end %>
  </div>
</div>