<% content_for(:title) do %>
  Sign up
<% end %>

<div class="signup">
  <div class="container">
    <%= bootstrap_form_for(@user) do |f| %>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 session-form">
          <div class="row">
            <div class="col-md-12">
              <%= f.text_field :name, label: 'Nombre', required: true, placeholder: 'Nombre' %>

              <%= f.text_field :email, label: 'Correo Electrónico', required: true, placeholder: "example@alumno.um.edu.ar" %>

              <%= f.password_field :password, label: 'Contraseña', required: true, placeholder: 'Contraseña' %>

              <%= f.password_field :password_confirmation, label: 'Confirmar contraseña', required: true, placeholder: 'Confirmar contraseña' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="margin-top: 10px; text-align: center">
              <%= f.submit "Crear cuenta", class: "btn btn-success btn-block" %>
              <p></p>
              <small class="text-secondary">Solo vos tendrás acceso a tu información</small>
            </div>

          </div>
        </div>
        <div class="col-md-4"></div>
      </div>


    <% end %>
  </div>
</div>