<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<%= @user.name %>

<h1>Approved</h1>

<% @user.passed.each do |s| %>
  <p><%= s.name %></p>
<% end %>

<h1>Not approved yet</h1>

<% @user.not_passed.each do |s| %>
  <p><%= s.name %></p>
<% end %>

<h1>TEST</h1>
<% @subjects.each do |s| %>

  <% if @user.passed_already? s %>
    <p> <%= s.name %> Aprobada!! con <%= @user.qualification_on(s) %> </p>
  <% else %>
    <p> <%= s.name %> NO aprobada :( </p>
  <% end %>

<% end %>