<nav class="navbar navbar-expand-lg navbar-dark">

  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://cdn.svgporn.com/logos/rubygems.svg" width="30" height="30" alt="Logo">
    UM credits
  <% end %>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#rb-navbar" aria-controls="rb-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="rb-navbar">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>

        <li class="nav-item">
          <%= link_to root_path, class: "btn btn-dark" do %>
            <span class="fa fa-home"></span>
            Home
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to exams_path, class: "btn btn-dark" do %>
            <span class="fa fa-list"></span>
            Aprobar
          <% end %>
        </li>
      <% end %>

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <% if current_user %>

        <span class="navbar-text" style="margin-right: 6px; color: white">
        <%= current_user.email %>
        </span>
        <li style="margin-right: 6px">
          <%= link_to logout_path, class: "btn btn-dark" do %>
            <span class="fa fa-sign-out-alt"></span>
            Logout
          <% end %>
        </li>

      <% else %>

        <li style="margin-right: 6px">

          <%= link_to login_path, class: "btn btn-dark" do %>
            <span class="fa fa-sign-in-alt"></span>
            Login
          <% end %>

        </li>

        <li>

          <%= link_to signup_path, class: "btn btn-dark" do %>
            <span class="fa fa-user-plus"></span>
            Sign up
          <% end %>

        </li>

      <% end %>
    </ul>
  </div>
</nav>

<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
  <h1 class="display-3">
    <% if content_for(:title) %>
      <%= content_for(:title) %>  <img src="https://cdn.svgporn.com/logos/rubygems.svg" style="width: 70px; height: 70px" alt="umcredits-logo">
    <% else %>
      UM credits
    <% end %>

    <hr>
  </h1>
</div>