<% content_for(:title) do %>
  <%= current_user.name %>'s stats
<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-6">

      <div class="jumbotron" id="main-jumbotron">
        <h1 class="display-4"><%= @credits %></h1>
        <hr>
        <p class="lead"> Creditos <span class="fa fa-check-circle"></span></p>
      </div>

    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h3><b><%= @passed.size %></b> aprobadas <span class="fas fa-graduation-cap"></span></h3>
        <p><%= @not_passed.size %> restantes</p>
        <h3><span class="badge badge-success"> <%= @avg %> </span> promedio </h3>
        <hr class="my-4">
        <p><%= @percent %> % completado</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent %>%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="accordion" id="accordionSubjects">

        <% [1, 2, 3, 4, 5].each do |i| %>
          <div class="card">
            <div class="card-header" id=<%= "heading#{i}" %>>
              <h2 class="mb-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#<%= "collapse#{i}" %>" aria-expanded="false" aria-controls="<%= "collapse#{i}" %>">
                  <%= @years_str[i] %>
                  <% if (@not_passed.select { |s| s.year.to_i == i }).empty? %>
                    <span class="fa fa-check"></span>
                  <% else %>
                    <% (@passed.select { |s| s.year.to_i == i }).size.times do %>
                      <span class="fas fa-graduation-cap"></span>
                    <% end %>
                  <% end %>
                </button>
              </h2>
            </div>

            <div id="<%= "collapse#{i}" %>" class="collapse" aria-labelledby="<%= "heading#{i}" %>" data-parent="#accordionSubjects">
              <div class="card-body">

                <% if (@passed.select { |s| s.year.to_i == i }).empty? %>
                  <small>Nada por aqui, nada por alla</small>
                <% else %>

                  <table class="table table-hover table-sm">
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th style="text-align: center; ">Creditos</th>
                      <th style="text-align: center; ">Nota</th>
                    </tr>

                    <% (@passed.select { |s| s.year.to_i == i }).each do |s1| %>
                      <tr>
                        <td><%= s1.code %></td>
                        <td><%= s1.name %></td>
                        <td style="text-align: center; font-weight: bold"><%= s1.credits %></td>
                        <td style="text-align: center"><%= current_user.qualification_on(s1) %></td>
                      </tr>
                    <% end %>


                  </table>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>


      </div>


    </div>
  </div>
</div>