<%= bootstrap_form_for(@subject) do |form| %>

  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :code %>
      <%= form.text_field :name %>
      <%= form.select :credits, [[3, 3], [4, 4], [5, 5], [6, 6], [7, 7]] %>
    </div>
    <div class="col-md-6">
      <%= form.select :year, [["Primero", 1], ["Segundo", 2], ["Tercero", 2], ["Cuarto", 4], ["Quinto", 5]] %>
    </div>
  </div>

  <%= form.submit class: "btn btn-success" %>

<% end %>