<%= bootstrap_form_for(@subject) do |form| %>

  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :code %>
      <%= form.text_field :name %>
      <%= form.number_field :credits %>
    </div>
    <div class="col-md-6">
      <%= form.text_field :year %>
      <%= form.select :qualification, [[6, 6], [7, 7], [8, 8], [9, 9], [10, 10]] %>
    </div>
  </div>

  <%= form.submit class: "btn btn-success" %>

<% end %>