<% content_for(:title) do %>
  Subjects
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credits</th>
      <th>Year</th>
      <th>Passed</th>
      <th>Qualification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.code %></td>
        <td><%= subject.name %></td>
        <td><%= subject.credits %></td>
        <td><%= subject.year %></td>
        <td><%= subject.passed %></td>
        <td><%= subject.qualification %></td>
        <td><%= link_to subject, class: "btn btn-primary" do %> <span class="fa fa-book"></span> Show <% end %></td>
        <td><%= link_to edit_subject_path(subject), class: "btn btn-dark" do %> <span class="fa fa-edit"></span> Edit <% end %></td>
        <td><%= link_to subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %> <span class="fa fa-trash"></span> Delete <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path, class: "btn btn-success" %>
