<% content_for(:title) do %>
  Materias restantes
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table table-dark table-responsive-sm table-striped">

        <tr style="background-color: #1c1919; color: white">
          <th>Code</th>
          <th>Nombre</th>
          <th>Año</th>
          <th style="text-align: center">Creditos</th>
          <th> </th>
        </tr>


        <% @subjects.each do |s| %>
          <tr>
            <td style="text-align: left"> <small> <%= s.code %> </small></td>
            <td><%= s.name %> </td>
            <td style="text-align: left"><small> <%= @year_str[s.year.to_i] %> </small> </td>
            <td style="text-align: center"> <%= "#{s.credits} creditos" %> </td>
            <td style="text-align: center">
              <%= link_to new_subject_exam_url(s), class: "btn btn-success btn-sm" do %>
                <span class="fa fa-check"></span>
                Aprobar
              <% end %>
            </td>

          </tr>

        <% end %>

      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>