<% content_for(:title) do %>
  Aprobar <%= @subject.name %>
<% end %>


<div class="signup">
  <div class="container">
    <%= bootstrap_form_for(@exam) do |f| %>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

          <%= f.hidden_field :subject_id, value: @subject.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>

          <%= f.select :qualification, [[6, 6], [7, 7], [8, 8], [9, 9], [10, 10]], { label: "Nota"}, { class: "form-control-lg" } %>

        </div>

        <div class="col-md-4"></div>

        <div class="row">
          <div class="col-md-10" style="text-align: right">
            <%= f.submit "Sign up", class: "btn btn-success btn-lg" %>
          </div>
        </div>

    <% end %>
    </div>
  </div>
</div>