<% content_for(:title) do %>
  Aprobar <%= @subject.name %>
<% end %>

<div class="approve">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4 session-form">
        <%= bootstrap_form_for([@subject, @exam]) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <label for="staticmat">Materia</label>
              <input class="form-control" id="staticmat" type="text" placeholder="<%= @subject.name %>" readonly>
            </div>

            <div class="col-md-12" style="margin-top: 20px">
              <%= f.select :qualification, [[6, 6], [7, 7], [8, 8], [9, 9], [10, 10]], {label: "Nota"}, {class: "form-control-lg"} %>
            </div>

            <div class="col-md-6" style="margin-top: 20px">
              <%= link_to exams_path, class: "btn btn-block btn-secondary" do %>
                Cancelar
              <% end %>
            </div>

            <div class="col-md-6" style="margin-top: 20px">
              <%= f.submit "Aprobar!", class: "btn btn-success btn-block" %>
            </div>

          </div>
        <% end %>
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
</div>