<% content_for(:title) do %>
  Aprobar
<% end %>


<h1>
  <%= @subject.name %>
</h1>
<!--
<div class="login">
  <div class="container">

    <%= bootstrap_form_for(:session, url: login_path) do |f| %>
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <%= f.email_field :email, :placeholder => "Email" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.password_field :password, :placeholder => "Password" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align: right">
              <%= f.submit "Login", class: "btn btn-success btn-lg" %>
            </div>
          </div>

        </div>

        <div class="col-md-4"></div>
    <% end %>

    </div>
  </div>
</div>
-->