<!DOCTYPE html>
<html>
  <head>
    <title>Ruby credits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>


    <link rel="icon" href="https://cdn.svgporn.com/logos/ruby.svg">

  </head>

  <body>
  <%= render 'shared/header' %>

    <% if notice.present? %>
      <div class="notification is-light is-success" style="text-align: center">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="notification is-light is-danger" style="text-align: center">
        <%= alert %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
